
/* WhatsApp Icon Styling */

.whatsapp-icon {
  position: fixed; /* Fixes the icon to the screen */
  bottom: 20px; /* Keeps it 20px above the bottom of the screen */
  right: 20px;  /* Keeps it 20px from the right side of the screen */
  background-color: #25D366;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000; /* Ensures it's above other elements */
}

.whatsapp-icon:hover {
  background-color: #128C7E;
}
